@media (max-width: 1400px) {
    .header__service-input--box {
        display: none;
    }

    .advantage__item-title {
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%); */
        text-align: center;
        
    }

    .advantage__item-text {
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 18px; */
        text-align: center;
        margin-top: 15px;
    }

    .advantage-title {
        text-align: center;
        font-size: 30px;
    }

    .advantage__items {
        margin-top: 40px;
    }

    .advantage {
        padding-top: 50px;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        display: none;

    }

    .hits__item-img {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;  
        pointer-events: none
    }

    .hits__item-img--box {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;  
        pointer-events: none
    }

    .hits__item-title {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;  
        pointer-events: none
    }

    .hits__item-count {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;  
        pointer-events: none
    }

    .hits__item-box {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;  
        pointer-events: none
    }

    .hits__item-btn {
        user-select: all;
        pointer-events: all;
    }

    .help__form {
        max-width: 100%;
        width: 100%;
    }

    .offer__inner::after {
        display: none;
    }

    .offer__inner::before {
        display: none;
    }

    .offer__inner {
        background-image: linear-gradient(to left,rgba(237,245,239,0) 0%, rgba(237,245,239,1) 100%), url(./images/Frame\ 41.svg);
    }

    .catalog {
        padding-top: 40px;
    }

    .catalog__title {
        font-size: 30px;
        text-align: center;
    }

    .catolog__items {
        margin-top: 40px;
    }

    .company {
        padding-top: 60px;
    }

    .hits {
        padding: 60px 0;

    }

    .hist__title {
        font-size: 30px;
        text-align: center;
    }

    .mySwiper-2 {
        margin-top: 40px;
    }

    .answer {
        padding: 60px 0;
    }

    .answer__title {
        font-size: 30px;
        text-align: center;
    }

    .answer__items-box {
        margin-top: 40px;
    }
}

@media (max-width: 1200px) {

    .offer__inner {
        background-image: linear-gradient(to top,rgba(237,245,239,0) 0%, rgba(237,245,239,1) 100%), url(./images/Frame\ 41.svg);
    }

    .offer__title {
        text-align: center;
    }

    .offer__text {
        text-align: center;
    }

    .offer__btn-application {
        width: 100%;
    }

    .offer__btn-сatalog {
        width: 100%;
    }

    .catalog__item--1::after {
        display: none;
    }

    .catalog__item--2::after {
        display: none;
    }

    .catalog__item--3::after {
        display: none;
    }

    .catalog__item--4::after {
        display: none;
    }

    .answer__items-answer {
        max-width: 100%;
    }

    .answer__items-surfiticat {
        margin-top: 16px;
    }
}

@media (max-width: 992px) {
    .offer__title {
        font-size: 30px;
        line-height: 30px;
    }

    .offer__text {
        font-size: 14px;
        line-height: 20px;

    }

    .offer__btn-сatalog, .offer__btn-application {
        font-size: 16px;
        padding: 16px;
        white-space: nowrap;
    }

    .offer__btns {
        position: absolute;
        bottom: 163px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        margin-top: 0;
    }

    .contacts__form {
        /* position: absolute;
        left: 50%;
        transform: translate(-50%,-40px);
        top: 100%;
        height: 100%; */
        margin-top: 16px;
    }

    .contacts__inner {
        position: relative;
        /* padding: 60px; */
        display: block;
    }

    .footer__menu {
        display: none;
    }

    .help__inner::before {
        background-position: top center;
        z-index: 9;
    }

    .help__left {
        width: 100%;
    }

    .help__left-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .help__right {
        margin-top: 16px
    } 

    .help__form-btn {
        width: 100%;
        max-width: 100%;
        text-align: center;
        position: relative;
    }

    .help__form-btn-box {
        width: 50%;
    }

    .img--right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }


    .img--left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
    }

    .contacts__form-btn--text-next,.contacts__form-btn--text-prev {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 576px) {
    .header__menu {
        display: none;
    }

    .advantage-title, .catalog__title, .hist__title, .answer__title {
        font-size: 26px;
    }

    .catalog__item-title {
        font-size: 24px;
        text-align: center;
    }

    .contacts__inner {
        padding: 0 10px;
    }

    .contacts__form-items {
        display: grid;
        gap: 24px;
    }

    .offer__inner {
        padding-right: 0;
        padding-left: 0;
    }

    .catalog__item {
        padding-right: 0;
        padding-left: 0;
    }

    .catalog__item-btn {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
    }

    .contacts__inner {
        padding-top: 20px;
    }

    .contacts__form-input {
        padding: 6px 8px;
    }

    .help__left {
        display: none;
    }

    .help__inner::before {
        background-image: none;
    }

    .help__form-btn {
        padding: 4px;
        font-size: 16px;
    }

    .contacts__form-bts {
        margin-top: 24px;
    }

    .section__btn {
        padding: 10px 16px;
        font-size: 16px;
    }

    .catolog__items {
        grid-template-columns: repeat(1,1fr);
    }

    .offer__btns {
        display: grid;
        gap: 24px;
        bottom: 103px;
    }

    .offer__btn-application, .offer__btn-сatalog {
        font-size: 14px;
        padding: 10px;
    }

    .offer__inner {
        padding: 103px 10px;
    }

    .offer__title {
        font-size: 27px;
    }

    .dropdown {
        display: block;
    }

    .help {
        padding-bottom: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        top: 100%;
        transform: translateY(10px);
    }
    
    .swiper-pagination-bullet-active {
        background-color: #14A751;
    }
    
    .btn:hover {
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
    }
    
    .btn {
        background-color: transparent ;
        border: none;
        padding: 0;
    }
    
    .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
        background: transparent;
    
    }
    
    .btn-check:checked+.btn:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible, .btn:first-child:active:focus-visible, :not(.btn-check)+.btn:active:focus-visible  {
        box-shadow: none;
        background: transparent;
    }
    
    .btn::before {
        font-family: 'icomoon';
        color: #000;
        content: "\e9bd";
        font-size: 20px;
    }
    
    .dropdown-toggle::after {
        display: none;
    }
    
    .dropdown {
        display: none;
    }
    
    .dropdown-menu {
        /* position: fixed !important; */
        width: 100vw;
        inset: auto auto auto 0 !important; 
        box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.05);
        border: none;
    }
}