@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8qtpd0');
  src:  url('fonts/icomoon.eot?8qtpd0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8qtpd0') format('truetype'),
    url('fonts/icomoon.woff?8qtpd0') format('woff'),
    url('fonts/icomoon.svg?8qtpd0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-thin-left:before {
  content: "\e901";
}
.icon-arrow-thin-right:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e9bd";
}
